/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
h3 {
	font-family: 'Work Sans';
	font-size:26px;
	font-weight: 400;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

nav li:hover {
	font-weight: 700;
}
nav li:active {
    font-weight: 700;
}
nav li:active {
    font-weight: 700;
}
header a {
    cursor: pointer;
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#filters {
	display: flex;
	justify-content: center;
	gap: 30px;
	padding: 20px 0px 50px 0px;
	cursor: pointer;
	color: #1D6154;
	
}
#filters li {
	padding: 10px 20px;
	border: solid 1px #1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	border-radius: 25px;
}
#filters li:hover {
	background-color: #1D6154 ;
	color: white;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	padding: 10px ;
	width: 240px;
	border: transparent;
}
input[type="submit"]:hover {
    background-color: #0E2F28;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* boutons modifier */
.edit {
	color: white;
}
.edit1 {
	background-color: #FFFEF8;
	padding: 20px 5px;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 16.42px;
	border: none;
	position: relative;
	left: 60px;
}

.edit2 {
	background-color: #FFFEF8;
	padding: 20px 5px;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 16.42px;
	border: none;
	position: relative;
	bottom: 70px;
	left: 700px;
}
button {
	text-decoration: none;
}
.header-admin {
	margin-top: 100px;
}
.header-bar {
	background: black;
	width: 100%;
	height: 59px;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	justify-content: center;
	align-items: center;
	gap: 10px;

}

.publish {
	width: 200px;
	height: 30px;
	border-radius: 50px;
	cursor: pointer;
	background-color: white;
	font-size: 'Work Sans';
	padding-top: 8px;
	text-align: center;
}
.publish:hover {
	transform: scale(1.02);
	font-weight: 700;
}

/* fenetre modale  */

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	
}
.modal-wrapper {
	background-color: white;
	width: 700px ;
	padding: 60px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
	border-radius: 10px;
	text-align: center;
	
}

.modal-wrapper h3 {
	padding: 10px;
}
.modal-wrapper p {
	color: red;
}

/* Modale gallerie image  */
.gallery-container {
	margin: 30px 80px 10px 80px;
	border-bottom: rgb(205, 203, 203) 1px solid;
	padding-bottom: 50px;
}
.modal-gallery {
	display: flex;
	flex-wrap: wrap;	
	gap:5px;	
}
.modal-gallery img {
	width: 76px;
	height: 102px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	object-fit: cover;
	position: relative;
	
}

.modal-gallery figure {	
	display: inline-block;
	position: relative;
	padding-bottom: 20px;
	
}
.btn-edit {
	font-family: 'Work Sans';
	font-size: 12px;
	font-weight: 400;
	border: 0px solid transparent;
	background: white;
	cursor: pointer;
	position: absolute;
	left: -2px;
	
}
.trash-can-button {
	cursor: pointer;
	position: absolute;
	color : white;
	background-color: black;
	padding: 5px;
	border-radius: 3px;
	font-size: 10px;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
}
.fa-up-down-left-right {
	cursor: move;
	position: absolute;
	color : white;
	background-color: black;
	padding: 5px;
	border-radius: 3px;
	font-size: 10px;
	top: 5px;
	right: 30px;
	width: 20px;
	height: 20px;
}
.delete-gallery {
	cursor: pointer;
}
/* Modale formulaire ajout image */

.modal-form {
	background-color: white;
	width: 700px ;
	padding: 60px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
	border-radius: 10px;
	text-align: center;
	
}

.modal-form h3 {
	padding: 10px;
}

.form-container {
	margin: 30px 80px 10px 80px;
	border-bottom: rgb(205, 203, 203) 1px solid;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap:5px;
	margin-top: 20px;
	
}
.modal-form form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap:5px;
	margin-top: 20px;
	
}
.modal-form form label {
	text-align: left;
	margin-top: 10px;
	
}
.modal-form form input, select {
	border: none;
	box-shadow: 2px 2px 2px 2px rgba(174, 173, 173, 0.3);
	padding: 10px 5px;
	margin: 5px 0;
	background: white;
	
	
}
.modal-form form input:focus {
	box-shadow: 5px 5px 5px 5px rgb(156, 154, 154);
	outline: none;
}
.background {
	width: 420px;
	height: 169px;
	background: #E8F1F7;;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.background p {
	padding-bottom: 20px;
	font-size: 12px;
}
.upload-photo {
	background: #CBD6DC;
	color: #306685;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	width: 173px;
	height: 36px;	
	border-radius: 50px;
	padding-top: 10px;
	margin-bottom: 5px; 
	cursor: pointer;
}
.fa-image {
	font-size : 60px;
	color: rgb(183, 183, 183, 0.8);
	margin: 15px;
	
}
.return-btn {
	cursor: pointer;
	position: relative;
	top: -20px;
	right: 300px;
	font-size: 16px;
	
}
.close-modal {
	position: relative;
	top: -20px;
	left: 300px;
	font-size: 16px;
	cursor: pointer;
	
}
#error-message {
	color: red;
	font-weight: 700;
}
#valid-message {
	color: #1D6154;
	font-weight: 700;
}
/* Animations  */
.container1 {
	animation: FadeOn .8s ;
}
.container2 {
	animation: FadeIn .8s;
}
@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} 
@keyframes FadeOn {
	0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
